@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-Thin.woff') format('woff'),
      url('../fonts/FiraSans-Thin.woff2') format('woff2');

   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-Light.woff') format('woff'),
      url('../fonts/FiraSans-Light.woff2') format('woff2');

   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-ExtraLight.woff') format('woff'),
      url('../fonts/FiraSans-ExtraLight.woff2') format('woff2');

   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-Regular.woff') format('woff'),
      url('../fonts/FiraSans-Regular.woff2') format('woff2');

   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-Medium.woff') format('woff'),
      url('../fonts/FiraSans-Medium.woff2') format('woff2');

   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-SemiBold.woff') format('woff'),
      url('../fonts/FiraSans-SemiBold.woff2') format('woff2');

   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-Bold.woff') format('woff'),
      url('../fonts/FiraSans-Bold.woff2') format('woff2');

   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-ExtraBold.woff') format('woff'),
      url('../fonts/FiraSans-ExtraBold.woff2') format('woff2');

   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Fira Sans';
   src:url('../fonts/FiraSans-Black.woff') format('woff'),
      url('../fonts/FiraSans-Black.woff2') format('woff2');

   font-weight: 900;
   font-style: normal;
   font-display: swap;
}